.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container{
  margin-top: 50px;
}

input {
  margin-bottom: 30px;
  padding: 10px 20px;
}

button {
  margin-bottom: 30px;
  padding: 10px 20px;
  cursor: pointer;
}